:root {
    --color-1: rgb(0, 0, 0);
    --text-color: white;
    --accent-color: rgb(194, 0, 0);
}

* {
    background-color: black;
    margin: 0;
    padding: 0
}

.center-image {
    background-size: cover;
    background-position: center;
}


#logo {
    height: 100px;
    margin: 10px;
}

nav {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color)
}

nav a:hover {
    background-color: var(--accent-color);
}

nav .home-link {
    margin-right: auto;
}

nav svg {
    fill: var(--text-color)
}

#sidebar-active {
    display: none;
}

.open-sidebar-button, .close-sidebar-button {
    padding: 0 20px;
    display: none;
}

@media(max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: solid;
    }

    .links-container {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 200px;
        background-color: var(--color-1);
        box-shadow: -10px 0 10px rgba(20, 19, 19, 0.25);
        transition: 0.5s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container {
        right: 0;
    }

    .main-container {
        background-image: url(./images/noir-lowres.jpg);
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: start;
        align-items: end;
        border-bottom: solid;


    }

    .main-info {
        padding: 10px;
        background-color: rgba(14, 13, 13, 0.527);
    }


    .main-info h2 {
        color: #ff0000;
        background-color: rgba(14, 13, 13, 0.527);
        margin-bottom: 0;
    }
    .main-info p {
        background-color: rgba(14, 13, 13, 0.527);
        color: white;
        font-size: 10px;
    }
} 